/* Element selectors */

:root {
	--main-dark-color: #333;
	--main-light-color: #eee;
	--middle-color: hsl(54, 1%, 70%);
	--secondary-dark-color: #444;
	--secondary-light-color: #ddd;
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

button {
	background-color: transparent;
	border: none;
	color: inherit;
	font-size: inherit;
}

ul  {
	list-style-type: none;
	padding-inline-start: 0;
}


footer {
	background-color: var(--main-dark-color);
	color: white;
	align-items: center;
	display: flex;
	height: 5vh;
	justify-content: center;
}

header {
	background-color: var(--main-dark-color);
	font-size: 3rem;
	color: var(--main-light-color);
	display: flex;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 21vh;

}

button.no-styling {
	/* special class to use for elements such as i-frames that have "wrapper" 
	<button> els for semantics */
	all: unset;
    display: revert;
}

/* Hover psuedoclass */

button:hover,
.menu-btn:hover,
.list-menu-btn:hover,
.toggle-menu-btn:hover,
.todo-item {
	cursor: pointer;
}

.task-date-btns:hover,
.new-task-btn:hover,
.task-delete-btn:hover,
.edit-task-submit-btn:hover,
.cancel-new-task-btn:hover,
.new-task-submit-btn:hover {
	background-color: var(--secondary-light-color);
}

.menu-btn:hover,
.list-menu-btn:hover {
	background-color: var(--middle-color);
}

/* Pseudoclass */

.description-field:focus, .task-field:focus {
	outline: none;
}

.github-link:link,
.github-link:visited {
	color: white;
	font-size: 2rem;
}


.menu > li:first-of-type {
}

.menu > li:last-of-type {
}

/* Class selectors */

.fab.fa-github-square {
	margin-left: 1rem;
}

.menu-btn,
.list-menu-btn {
	padding: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 5px;
}

.task-editor,
.new-task-editor {
	height: 150px;
	border: 1px solid black;
}

.task-delete-btn,
.edit-task-submit-btn,
.cancel-new-task-btn,
.new-task-submit-btn,
.edit-task-btn,
.edit-list-graphic,
.show-task-details-btn {
	padding: 5px;
}

.all-icon,
.day-icon,
.week-icon,
.list-menu-icon,
.add-list-plus-icon,
.log-out-icon {
	margin-right: 0.5rem;
}

.description-field, .task-field {
	border: 0;
}

.new-task-editor,
.task-editor {
	border-radius: 0.5rem;
	padding: 1rem;
}


.app-title {
	font-size: 3rem;
}


.column-names {
	display: flex;
	justify-content: space-around;
	min-width: 240px;
}


.date-and-btns {
	white-space: nowrap;
}

.datepicker-addbutton {
	display: flex;
	justify-content: space-between;
}

.description-field {
	width: 100%;
	height: 100px;
	resize: none;
}

.details {
	font-weight: normal;

	/* these two declarations are in case the details are really long, so that 
	they wrap */
	max-width: 50vw;
	overflow-wrap: break-word;
}

.firebaseui-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}



.github-link {
	color: white;
	font-size: 2rem;
}

.list-label {
	background-color: var(--secondary-light-color);
	font-size: 1.5rem;
	font-weight: bold;
}

.list-label-text {
	margin-left: 0.5rem;
}

.list-menu-btn {
	font-size: 1rem;
	font-weight: normal;
}


.log-out-btn {
	display: flex;
	align-items: center;
	padding: 0;
}

.log-out-btn-text {
	text-align: start;
}

.main {
	height: 74vh;
	overflow: auto;
}

.menu {
	background-color: var(--secondary-light-color);
	display: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.new-task-btn {
	padding: 5px;
	border-radius: 5px;
	width: auto;
	margin-top: 1rem;
}


.new-task-editor {
	margin: 0.5rem 0.5rem 0 0.5rem;
}

.no-styling.menu-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task {
	font-weight: bold;
}

.task-editor {
	margin-left: 2px;
	margin-right: 2px;
}

.task-field {
	width: 100%;
}

.task-date-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
}

.the-task-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0;
}

.todo-item { 
	width: 96%;
}

.two-buttons-container {
	display: inline-block;
}

.wrapper-for-large-screens {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

@media only screen and (min-width: 600px) {
	.todo-list-wrapper {
		width: 92%;
	}
	.new-task-editor {
		width: 88%;
		box-sizing: border-box;
		height: auto;
	}
}


@media only screen and (min-width: 900px) {
	.menu {
		float: left;
		width: 28%;
		height: 150vh;
		max-width: 320px;
	}
}

@media only screen and (min-width: 1150px) {
	.column-names {
		justify-content: space-between;
	}
}


/* Utility classes */

.open {
}

.selected {
	background-color: var(--middle-color) !important;
}

.hidden {
	display: none;
}

.strikethru {
	text-decoration: line-through;
}


