/* My styles */

:root {
	--main-dark-color: #333;
	--main-light-color: #eee;
	--middle-color: hsl(54, 1%, 70%);
	--secondary-dark-color: #444;
	--secondary-light-color: #ddd;
}

html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

button {
	background-color: transparent;
	border: none;
	color: inherit;
	font-size: inherit;
}

h1 {
	font-size: 3rem;
}

ul  {
	list-style-type: none;
	padding-inline-start: 0;
}

body {
	position: relative;
	max-height: 100vh;
}

footer {
	align-items: center;
	bottom: 0;
	background-color: var(--main-dark-color);
	display: flex;
	height: 5vh;
	justify-content: center;
	left: 0;
	width: 100%;
	color: white;
}

header {
	align-items: center;
	background-color: var(--main-dark-color);
	color: white;
	display: flex;
	font-size: 3rem;
	height: 15vh;
	justify-content: space-between;
	width: 100%;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
	overflow: auto;
}

.copyright {
	margin-right: 0.7rem;
}



.menu {
	align-items: flex-end;
	background-color: var(--secondary-light-color);
	display: none;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}


.menu li {
	padding: 0.5rem;
	flex-basis: 85%;
	border-radius: 5px;
}

.list-label .list {
	font-size: 1rem;
	font-weight: normal;
	padding-left: 0rem;
}

.menu > li:first-of-type {
	margin-top: 1rem;
}

.menu > li:last-of-type {
	margin-bottom: 1rem;
}

.menu > .list-label {
	background-color: var(--secondary-light-color);
	font-size: 1.5rem;
	font-weight: bold;
}

.menu-btn {
	margin-right: 1rem;
	display: flex;
}

span.edit-list-icon {
	margin-left: auto;
}

.fa-check-circle {
	margin-left: 1rem;
	margin-right: 0.5rem;
}

.menu .fas {
	margin-right: 0.5rem;
}

.task-date-btns {
	display: flex;
	justify-content: space-between;
}

.task-editor,
.new-task-editor {
	height: 150px;
	border: 1px solid black;
	border-radius: 0.5rem;
	margin: 1rem 1rem 0 1rem;
	padding: 1rem;
}

.todo-item {
	margin-bottom: 1rem;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

.task-date-btns:hover {
	background-color: var(--secondary-light-color);
}

.task {
	display: block;
	margin-left: 1rem;
}

.column-names {
	display: flex;
	justify-content: space-between;
}

.list-column-name {
	margin-left: 1rem;
}

.due-date-column-name {
	margin-right: 2rem;
}

.date-and-btns {
	margin-right: 1rem;
	flex-shrink: 0;
	flex-grow: 0;
}

.edit-task-btn {
	padding: 0;
	margin-left: 1rem;
}

.task-delete-btn:hover,
.edit-task-submit-btn:hover,
.cancel-new-task-btn:hover  {
	background-color: var(--secondary-light-color);
}

.task-delete-btn,
.cancel-new-task-btn {
	margin-left: auto;
}

.date-picker {
	display: inline-block;
}

.description-field, .task-field {
	display: block;
	width: 100%;
	border: 0;
}

.description-field:focus, .task-field:focus {
	outline: none;
}

.description-field {
	height: 100px;
	resize: none;
}

.edit-task-submit-btn, 
.cancel-task-submission-btn {
	display: inline-block;
}

.datepicker-addbutton{
	display: flex;
	justify-content: space-between;
}

.github-link,
.github-link:link,
.github-link:visited {
	color: white;
	font-size: 2rem;
}

.menu-btn:hover {
	background-color: var(--middle-color);
}

.fa-plus{
	margin-right: 1rem;
}

.new-list-cancel-btn{
	padding-left: 0.5rem;
}

.new-task-btn {
	margin-bottom: 1rem;
	margin-top: 1rem;
	width: 30%;
	align-self: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-left: 31%;
	
}

.new-list-text-input {
	width: 69%;
}



@media only screen and (min-width: 900px) {
	.menu {
		display: block;
		flex-direction: row;
		width: 34%;
		margin-top: 0;
		margin-bottom: 0;
		margin-block-end: 0;
		height: 150vh;
		align-items: center;
		overflow: hidden;
		padding-left: 1rem;
	}

	.main-container {
		flex-direction: row;
		justify-content: normal;
	}

	.wrapper-for-large-screens {
		width: 100%;
	}

	.todo-list-wrapper {
		width: 100%;
	}

	.new-task-btn {
		margin-left: 40%;
	}
}


/* Utility classes */

.open {
	display: flex;
}

.selected {
	background-color: var(--middle-color) !important;
}

.hidden {
	display: none;
}


